<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>blackListedURLs</string>
		<key>Title</key>
		<string>Blacklisted URLs</string>
		<key>Titles</key>
		<array>
			<string></string>
		</array>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
