<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>asdfewjklio</string>
		<key>Key</key>
		<string>hintCharacters</string>
		<key>Title</key>
		<string>Hint Characters</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>blackListedURLs</string>
		<key>Title</key>
		<string>Blacklisted URLs</string>
		<key>Titles</key>
		<array>
			<string></string>
		</array>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>rotateHints</string>
		<key>Title</key>
		<string>Rotate Hints</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>0</string>
		<key>Key</key>
		<string>activateNewTabs</string>
		<key>Title</key>
		<string>Immediately activate new tabs</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>highContrastMode</string>
		<key>Title</key>
		<string>High contrast mode</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
