<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.gggritso.vimmy</string>
       <key>Developer Identifier</key>
       <string>36948PQEY6</string>
       <key>CFBundleVersion</key>
       <string>5</string>
       <key>CFBundleShortVersionString</key>
       <string>0.6.0</string>
       <key>URL</key>
       <string>https://github.com/gggritso/Vimmy.safariextension/releases/download/0.6.0/Vimmy.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.gggritso.vimmy</string>
       <key>Developer Identifier</key>
       <string>36948PQEY6</string>
       <key>CFBundleVersion</key>
       <string>4</string>
       <key>CFBundleShortVersionString</key>
       <string>0.5.0</string>
       <key>URL</key>
       <string>https://github.com/gggritso/Vimmy.safariextension/releases/download/0.5.0/Vimmy.safariextz</string>
     </dict>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.gggritso.vimmy</string>
       <key>Developer Identifier</key>
       <string>36948PQEY6</string>
       <key>CFBundleVersion</key>
       <string>3</string>
       <key>CFBundleShortVersionString</key>
       <string>0.4.0</string>
       <key>URL</key>
       <string>https://github.com/gggritso/Vimmy.safariextension/releases/download/0.4.0/Vimmy.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
