#vimmy-hints {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;

	z-index: 2147483646									!important;
}

#vimmy-hints span {
	height: 16px										!important;
	box-sizing: border-box								!important;

	position: absolute									!important;
	float: none !important;

	font-family: "Courier New", "Courier", monospace 	!important;

	font-size: 13px										!important;
	line-height: 13px									!important;

	background-color: black								!important;
	color: white !important;
	opacity: 0.85		!important;
	border: none										!important;

	border-radius: 3px									!important;
	padding: 1px 5px 0px 5px							!important;

	letter-spacing: 0									!important;

	transition: opacity 0.2s !important;
}

#vimmy-hints span.ineligible {
	opacity: 0.1 !important;
}

#vimmy-hints span.accepted {
	color: #27ae60 !important;
}

#vimmy-hints span b {
	display: inline										!important;
	font-weight: normal									!important;
	-webkit-font-smoothing: subpixel-antialiased		!important;
	color: inherit										!important;
	text-shadow: none 									!important;

	vertical-align: top;

	font-family: inherit !important;
	font-size: 13px										!important;
	line-height: 13px									!important;
	padding: none										!important;
	margin: none										!important;
}

#vimmy-hints span b.typed {
	color: #c0392b											!important;
}

#vimmy-hints span.left {
	transform: rotate(20deg);
}

#vimmy-hints span.right {
	transform: rotate(20deg);
}

#vimmy-hints span:before,
#vimmy-hints span:after {
	content: ""													!important;

	position: absolute											!important;
	top: 1px													!important;

	width: 0													!important;
	height: 0													!important;

	border-style: solid												!important;
	border-width: 7px 7px 7px 7px								!important;
}

#vimmy-hints span.left:after {
	right: -12px													!important;

	border-color: transparent transparent transparent black		!important;
}

#vimmy-hints span.left:before {
	display: none;
}

#vimmy-hints span.right:before {
	left: -12px												!important;

	border-color: transparent black transparent transparent		!important;
}

#vimmy-hints span.right:after {
	display: none;
}
